<div class="row">
    <h1 class="col-xs-8 no-margin size-16 weight-700 modal-title">Change Password</h1>
</div>
<gap></gap>
<div class="row">
    <form class="col-xs-12" name="changeEmailForm" ng-submit="changeEmailSubmit(changeEmailForm)" novalidate>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Current Password" ng-model="changeEmailUser.loggedInUserPassword" name="loggedInUserPassword" ng-pattern="/(?=.*\d)(?=.*[a-z]).{8,}/" disallow-spaces required>
            
            <div ng-show="changeEmailForm.loggedInUserPassword.$error && changeEmailForm.$submitted" ng-messages="changeEmailForm.loggedInUserPassword.$error">
                <div ng-messages-include="error-list1.html"></div>
            </div>
        </div>	
        <div class="form-group">
            <input type="email" class="form-control" placeholder="New Email" ng-model="changeEmailUser.toChangeEmailId" name="toChangeEmailId" maxlength="100" disallow-spaces required>

            <div ng-show="changeEmailForm.toChangeEmailId.$error && changeEmailForm.$submitted" ng-messages="changeEmailForm.toChangeEmailId.$error">
                <div ng-messages-include="error-list1.html"></div>
            </div>
	           <!--  <div class="error" ng-show="(changeEmailUser.toChangeEmailId != changeEmailUser.fromEmailId) && changeEmailForm.$submitted">
	            	New email id should be different from previous email id
	            </div>
	 -->
        </div>


        <div class="row x-md-padding form-group">

            <button type="submit" class="btn btn-primary col-xs-12">Save</button>

        </div>
    </form>
</div>
<style>
    .modal-dialog {
        max-width: 400px;
    }
</style>
<script id="error-list1.html" type="text/ng-template">
    <div class="error size15" ng-message="required">This field is required</div>
    <div class="error size15" ng-message="compareTo">Repeat password doesn't match the new password</div>
    <div class="error size15" ng-message="pattern">Password should contain at least 8 alphanumeric characters </div>
    <div class="error size15" ng-message="comparePrevious">Current and new password should not be same</div>
</script>