<div class="row">
    <h1 class="col-xs-8 no-margin size-16 weight-700 modal-title">Change Password</h1>
</div>
<gap></gap>
<div class="row">
    <form class="col-xs-12" name="changePasswordForm" ng-submit="changePasswordSubmit(changePasswordForm)" novalidate>
        <div class="form-group">

            <input type="password" class="form-control" placeholder="Current Password" ng-model="changePasswordFormData.currentPwd" name="currentPwd" ng-pattern="/(?=.*\d)(?=.*[a-z]).{8,}/" disallow-spaces required>
            
            <div ng-show="changePasswordForm.currentPwd.$error && changePasswordForm.$submitted" ng-messages="changePasswordForm.currentPwd.$error">
                <div ng-messages-include="error-list1.html"></div>
            </div>
        </div>


        <div class="form-group">

            <input type="password" class="form-control" name="newPwd" placeholder="New Password" ng-model="changePasswordFormData.newPwd" ng-pattern="/(?=.*\d)(?=.*[a-z]).{8,}/" compare-previous="changePasswordFormData.currentPwd" disallow-spaces required>
            <div ng-show="changePasswordForm.newPwd.$error && changePasswordForm.$submitted" ng-messages="changePasswordForm.newPwd.$error">
                <div ng-messages-include="error-list1.html"></div>
            </div>
        </div>

        <div class="form-group">

            <input type="password" class="form-control" placeholder="Repeat Password" ng-model="changePasswordFormData.repeatPwd" name="repeatPwd" compare-to="changePasswordFormData.newPwd" disallow-spaces required>

            <div ng-show="changePasswordForm.repeatPwd.$error && changePasswordForm.$submitted" ng-messages="changePasswordForm.repeatPwd.$error">
                <div ng-messages-include="error-list1.html"></div>
            </div>

        </div>


        <div class="row x-md-padding form-group">

            <button type="submit" class="btn btn-primary col-xs-12">Change Password</button>

        </div>
    </form>
</div>
<style>
    .modal-dialog {
        max-width: 400px;
    }
</style>
<script id="error-list1.html" type="text/ng-template">
    <div class="error size15" ng-message="required">This field is required</div>
    <div class="error size15" ng-message="compareTo">Repeat password doesn't match the new password</div>
    <div class="error size15" ng-message="pattern">Password should contain at least 8 alphanumeric characters </div>
    <div class="error size15" ng-message="comparePrevious">Current and new password should not be same</div>
</script>