<!doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
    <title></title>
    <div id="includes"></div>
    <script src="../../utils/jquery-2.2.4.min.js"></script>
    <script src="../../scripts/common.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div id="header">

        </div>
        <div class="row">
            <div class="dashboard">
                <div class="col-xs-4 col-md-2 dark-gray-bg left">
                    <div id="left-menu">
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-10 white-bg right">

                </div>


            </div>
        </div>
    </div>
</body>

</html>