<div class="row">
    <h1 class="no-margin padding text-center size-16 weight-700 text-center modal-title">Import Users</h1>
</div>
<div class="row border">
    <div class="drag-placeholder margin">
        <h1 class="text-center">Drag file here </h1>
        <p class="text-center">or</p>
        <input type="file" title="Choose .xls file to upload" name="file" class="btn btn-default col-centerd file">

        <gap></gap>
    </div>
</div>
<br/>
<a href="assets/UploadUsersTemplate.xlsx"><p class="pull-left"><i class="icon-download size-20" aria-hidden="true"></i> Download Excel Template</p></a>
<button class="btn btn-default pull-right" ng-click="importData()">Import</button>
<div class="clear"></div>
<br/>