<div class="row">
    <h1 class="no-margin padding text-center size-16 weight-700 text-center modal-title">Add Location</h1>

</div>



<div class="form-group">
    <label for="email" class="weight-400 size-14">Select Location</label>
    <div class="row">
        <div class="col-xs-6 col-lg-9">
            <select class="form-control">
                <option value="id-1">Select Location</option>
                <option value="id324567">Atlanta, GA</option>
                <option value="id8954535">Boston, MA</option>
                <option value="id7824559">Dallas, TX</option>
                <option value="id4074551">Fairfield, CT</option>
                <option value="id2654543">Fairfield, CA</option>
            </select>
        </div>
        <div class="col-xs-2 col-lg-2">
            <button type="button" class="btn btn-default">Add</button>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="pull-right">
        <h1><i class="icon-close size-20" aria-hidden="true"></i></h1></div>
    <div class="pull-left">

        <h1 class="weight-700 size-14">CycleGear Madison, WI</h1>
        <p>012600 - Madison</p>
    </div>
    <div class="clear"></div>
</div>

<hr/>
<div class="col-xs-12">
	<button class="btn btn-primary col-centered">Done</button>
</div>
<br/>
<div class="clear"></div>