 <div class="clear"></div>
    <div class="form-group">
    <h1 class="size-20 weight-700"> Select Users / Sites</h1>
    <gap></gap>
        <p class="size-14 cursor" ng-click="addLocations()"><i class="fa fa-plus-circle size-18" aria-hidden="true"></i> Add Sites</p>
        <p ng-if="newCustomerFormData.locationsList.length > 0">{{newCustomerFormData.locationsList.length}} Locations Added</p>
        <p class="size-14 cursor" ng-click="addUsers()"><i class="fa fa-plus-circle size-18" aria-hidden="true"></i> Add Users</p>
        <br/>
        <br/>
 </div>