<div class="blue-bg-bar min-height-52 relative"></div>
<div class="bar line-height-40 relative x-padding">
     <span class="size-14 weight-500 line-height-40">Edit Customer Information</span>
</div>
<s-gray-gap></s-gray-gap>
<div class="clear"></div>
<form role="form" class="scroll top-97" name="createCustomerForm" novalidate="" ng-submit="newCustomerForm(createCustomerForm)" autocomplete="off">
<input type="hidden" ng-model="newCustomerFormData.customerId">
    <gap></gap>
    <gap></gap>
  <div class="form-group required col-lg-7 col-md-10">
  <div class="row">
        <label for="email" class="weight-400 col-sm-4 size-14 control-label">Company Name</label>
        <div class="col-sm-8">
        <input type="text" maxlength="50" maxlength50="companyName" class="form-control requried" name="companyName" ng-model="newCustomerFormData.companyName" ng-blur="getCustomerId($event)"  ng-keyup="removeCustomerId($event)" required>
        <div class="error-container last-error-container" ng-show="createCustomerForm.companyName.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.companyName.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="form-group col-lg-7 col-md-10">
      <div class="row">
        <label for="email" class="weight-400 col-sm-4  size-14 control-label">Customer ID</label>
        <div class="col-sm-8">
        <input type="text" class="form-control" only-numbers-char-hyphen maxlength10="customerCode" maxlength="10" name="customerCode" ng-model="newCustomerFormData.customerCode">
         <div class="error-container last-error-container" ng-show="createCustomerForm.customerCode.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.customerCode.$error">
                 <div ng-messages-include="error-list.html"></div>
         </div>
         </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="form-group required col-lg-7 col-md-10">
      <div class="row">
        <label for="email" class="weight-400 control-label size-14 col-sm-4">Address</label>
        <div class="col-sm-8">
        <input type="text" maxlength="50" maxlength50="addressLine1" class="form-control" name="addressLine1" ng-model="newCustomerFormData.addressLine1" required>
        <div class="error-container last-error-container" ng-show="createCustomerForm.addressLine1.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.addressLine1.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        <gap></gap>
        <input type="text" class="form-control" maxlength="50" maxlength50="addressLine2"  name="addressLine2" ng-model="newCustomerFormData.addressLine2"> </div>
        <div class="error-container last-error-container" ng-show="createCustomerForm.addressLine2.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.addressLine2.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        </div>
        </div>
    <div class="clear"></div>
    <div class="form-group required col-lg-7 col-md-10">
        	<div class="row">
            <label for="email" class="weight-400 col-sm-4 control-label size-14">City</label>
            <div class="col-sm-8">
            <input type="text" class="form-control customer-city-name" ng-model="newCustomerFormData.city" required name="city" />
            <div class="error-container last-error-container" ng-show="(createCustomerForm.city.$error && createCustomerForm.$submitted) || customerCityNameRequired" ng-messages="createCustomerForm.city.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            </div>
            </div>
                <div class="clear"></div>
        </div>
    <div class="clear"></div>
             <div class="form-group required col-lg-7 col-md-10">
        <div class="row">
            <label for="email" class="weight-400 col-sm-4 control-label size-14">State</label>
            <div class="col-sm-8">
            <input type="text" class="form-control customer-state-name" ng-model="newCustomerFormData.state" required name="state"/>
            <div class="error-container last-error-container" ng-show="(createCustomerForm.state && createCustomerForm.$submitted) || customerStateNameRequired" ng-messages="createCustomerForm.state.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            </div>
            </div>
                <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div class="form-group required col-lg-7 col-md-10">
        	<div class="row">
            <label for="email" class="weight-400 col-sm-4 control-label size-14">Zip Code</label>
            <div class="col-sm-8">
            <input type="text" minlength="5" maxlength="5" name="postalCode" class="form-control" ng-pattern="/^[0-9]*$/" ng-model="newCustomerFormData.postalCode" required ng-click="makeDisable = true;getStateCityValidate()" ng-blur="getStatesAndCities(newCustomerFormData.postalCode)">
            <div class="error" ng-show="createCustomerForm.postalCode.$error.pattern">Zip Code should contain numbers only</div>
            <div class="error-container last-error-container" ng-show="createCustomerForm.postalCode.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.postalCode.$error">
                <div class="error size15" ng-message="required">This field is required</div>
            </div>
            <div class="error-container last-error-container" ng-show="createCustomerForm.postalCode.$error && createCustomerForm.$touched && !createCustomerForm.postalCode.$error.pattern" ng-messages="createCustomerForm.postalCode.$error">
				<div class="error" ng-message="maxlength6">Length of this field should be 5 characters</div>
            </div>
            
            </div>
            </div>
            <div class="clear"></div>
        </div>
    <div class="clear"></div>
    <div class="form-group required col-xs-12 col-lg-7">
      <div class="row">
        <label for="email" class="weight-400 size-14 col-sm-4 control-label">Status</label>
        <div class="col-sm-8">
        <select class="form-control" ng-model="newCustomerFormData.customerStatus" name="customerStatus" required>
            <option value="1" ng-selected="newCustomerFormData.customerStatus == '1'">New</option>
            <option value="2" ng-selected="newCustomerFormData.customerStatus == '2'">Survey</option>
            <option value="3" ng-selected="newCustomerFormData.customerStatus == '3'">Install</option>
            <option value="4" ng-selected="newCustomerFormData.customerStatus == '4'">Waiting</option>
            <option value="5" ng-selected="newCustomerFormData.customerStatus == '5'">Active</option>
            <option value="6" ng-selected="newCustomerFormData.customerStatus == '6'">Inactive</option>
        </select>
        <div class="error-container last-error-container" ng-show="createCustomerForm.customerStatus.$error && createCustomerForm.$submitted" ng-messages="createCustomerForm.customerStatus.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form-group col-xs-12">
        <span class="btn btn-default btn-file">
	    	<i class="fa fa-camera" aria-hidden="true"></i>&nbsp; Add Company Logo 
	        <input type="file" class="btn btn-default companyLogoClass" name="companyLogo" classname="companyLogoClass" tagname="companyLogo" onchange="angular.element(this).scope().imageUpload(event)" />
	        <input type="text" ng-model="newCustomerFormData.companyLogo" style="display: none"/>
	    </span>
       
	    <b ng-if="newCustomerFormData.companyLogo">
			<img class="thumb companyLogo" ng-if="newCustomerFormData.companyLogo!=null && newCustomerFormData.companyLogo!=undefined" ng-src="fileUpload/loadImage?imageName={{newCustomerFormData.companyLogo}}"  
				ng-click="openLightboxModal('fileUpload/loadImage?imageName='+newCustomerFormData.companyLogo)"
			  alt="{{newCustomerFormData.companyLogo}}"/>
			<a href="" ng-click="deleteImage()">&#10005;</a> 
		</b>
        <p class="size-12">png,jpg,jpeg image maximum size 500kb</p>
    </div>
	<div class="clear"></div>
    <div class="form-group no-margin col-xs-12">
        <h1 class="size-16 weight-700 line-height-40 no-margin">Degree Preferences</h1>
        <div class="clear"></div>
        <hr class="no-margin" /> 
    </div>
    <div class="clear"></div>
    <gap></gap>
    <gap></gap>
    <div class="form-group col-xs-12 col-lg-4">
        <select class="form-control" ng-model="newCustomerFormData.degreePrefereces" name="degreePrefereces" ng-disabled="true">
            <option value="1" ng-selected="newCustomerFormData.degreePrefereces == '1'">Fahrenheit</option>
            <option value="2" ng-selected="newCustomerFormData.degreePrefereces == '2'">Celsius</option>
        </select>
    </div>
    <div class="clear"></div>
    <div class="form-group no-margin col-xs-12">
        <h1 class="size-16 weight-700 line-height-40 no-margin">Thermostat Preferences</h1> 
        <div class="clear"></div>
        <hr class="no-margin" />
    </div>
    <div class="clear"></div>
    <gap></gap>
    <div class="clear"></div>
    <div class="col-xs-6  col-sm-4">
        <div class="radio">
            <label>
                <input type="radio" name="thermostatePreference" ng-change="getThermostatePreferenceFan('newCustomerFormData.thermostatePreferenceFanOn')" ng-checked="newCustomerFormData.thermostatePreferenceFanOn"  ng-model="newCustomerFormData.thermostatePreferenceFanOn" value="1"> Fan On </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-change="getThermostatePreferenceFan('newCustomerFormData.thermostatePreferenceFanAuto')" name="thermostatePreference" ng-checked="newCustomerFormData.thermostatePreferenceFanAuto"  ng-model="newCustomerFormData.thermostatePreferenceFanAuto" value="1"> Fan Auto </label>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="radio">
            <label>
                <input type="checkbox" ng-value="true" ng-model="newCustomerFormData.thermostatePreferenceHvacAuto" name="thermostatePreferenceHvacAuto"> Reset HVAC to Auto </label>
        </div>
        <div class="radio">
            <label>
                <input type="checkbox" ng-value="true" ng-model="newCustomerFormData.thermostatePreferenceResetHold" name="thermostatePreferenceResetHold"> Reset Hold to Off </label>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col-lg-3 col-xs-12" ng-init="newCustomerFormData.lockPref='1'">
        <div class="radio">
            <label>
                <input type="radio" name="lockPref" ng-model="newCustomerFormData.lockPref" ng-value="0"> Unlock </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lockPref" ng-model="newCustomerFormData.lockPref" ng-value="1"> Partial </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lockPref" ng-model="newCustomerFormData.lockPref" ng-value="2"> Full </label>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form-group required col-xs-4">
        <label for="email" class="weight-400 control-label size-14">Min SP</label>
        <input type="number" class="form-control" empty-zero name="thermostateMinSetPoint" ng-model="newCustomerFormData.thermostateMinSetPoint" min="45" max="90" required/>
        <div ng-show="createCustomerForm.thermostateMinSetPoint.$error.required && createCustomerForm.$submitted" ng-messages="createCustomerForm.thermostateMinSetPoint.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        <div ng-show="createCustomerForm.thermostateMinSetPoint.$error.number && createCustomerForm.$submitted && !createCustomerForm.thermostateMinSetPoint.$error.required">
            <div class="error size-15">Please enter valid number</div>
        </div>
        <p class="error" ng-if="!createCustomerForm.thermostateMinSetPoint.$error.required && createCustomerForm.$submitted" ng-show="createCustomerForm.thermostateMinSetPoint.$error.min || createCustomerForm.thermostateMinSetPoint.$error.max">Please enter value between 45 to 90</p>
    </div>
    <div class="form-group required col-xs-4">
        <label for="email" class="weight-400 control-label size-14">Max SP</label>
        <input type="number" class="form-control" empty-zero name="thermostateMaxSetPoint" ng-model="newCustomerFormData.thermostateMaxSetPoint" min="{{newCustomerFormData.thermostateMinSetPoint*1+1}}" max="90" required/>
        <div ng-show="createCustomerForm.thermostateMaxSetPoint.$error.required && createCustomerForm.$submitted" ng-messages="createCustomerForm.thermostateMaxSetPoint.$error">
            <div ng-messages-include="error-list.html"></div>
        </div>
        <div ng-show="createCustomerForm.thermostateMaxSetPoint.$error.number && createCustomerForm.$submitted && !createCustomerForm.thermostateMaxSetPoint.$error.required">
            <div class="error size-15">Please enter valid number</div>
        </div>  
        <p class="error" ng-if="!createCustomerForm.thermostateMaxSetPoint.$error.required && createCustomerForm.thermostateMaxSetPoint.$error.max && createCustomerForm.$submitted">Please enter value between {{newCustomerFormData.thermostateMinSetPoint ? newCustomerFormData.thermostateMinSetPoint*1+1 : 45}} to 90</p>                               
		<p class="error" ng-if="!createCustomerForm.thermostateMaxSetPoint.$error.required && createCustomerForm.thermostateMaxSetPoint.$error.min && createCustomerForm.$submitted">Max SP has to be greater than Min SP</p>
    </div>
    <div class="form-group col-xs-6">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-value="true" ng-model="newCustomerFormData.nightlyScheduleDownload" name="nightlyScheduleDownload"> Nightly Schedule Download </label>
        </div>
    </div>
    <div class="clear"></div>
	<div class="col-xs-12">
    	<a ng-show="$state.current.actionType == 'view'" disabled class="btn btn-default pull-right margin-left10 mob-bottom-10" ui-sref="customers.customersList.getCustomer.groups($state.params)">Cancel</a>
    	<a ng-show="$state.current.actionType == 'edit'" class="btn btn-default pull-right margin-left10 mob-bottom-10" ui-sref="customers.customersList.getCustomer.groups($state.params)">Cancel</a>
    	<button type="submit" class="btn btn-primary pull-right margin-left10 mob-bottom-10">Save</button>
    	<a ng-if="userDetails.rolePermissions['Customer Management']==2" href="" data-toggle="modal" data-target="#modelDialog" class="btn btn-default pull-right margin-left10 mob-bottom-10" ng-click="removeCustomer($event)">Delete</a>
    </div>
    <div class="clear"></div>
    <br/>
</form>
<script id="error-list.html" type="text/ng-template">
    <div class="error size15" ng-message="required">This field is required</div>
	<div class="error" ng-message="maxlength10">Maximum length of this field is 10 characters</div>
	<div class="error" ng-message="maxlength50">Maximum length of this field is 50 characters</div>
    <div class="error" ng-message="maxlength5">Maximum length of this field is 5 characters</div>
    <div class="error" ng-message="maxlength6">Maximum length of this field is 6 characters</div>
	<div class="error" ng-message="minlength">Minimum length of this field is 5 characters</div>
</script>