<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h1 class="no-margin no-padding text-center size-20 weight-700 text-center modal-title">Apply {{selectedSchedule.scheduleName}} Schedule to</h1>
    </div>
    <div class="clear"></div>
    <gap></gap>
    <div class="col-xs-12 col-sm-12 col-md-12 error" ng-show="isvalidateError">
        {{validateError}}
    </div>
    <div class="clear"></div>
    <div class="col-xs-12 col-sm-12 col-md-12">

        <form role="form">
            <div class="form-group col-xs-12" ng-show="customerShow">

                <label class="weight-400 size-14" for="email">Customers</label>
                <select class="form-control" ng-disabled="customerdis"  ng-model="customerList" ng-init="customerList='All'" ng-change="filterCustomerChange()">
                    <option value="All">All</option>
                    <option value="{{customerListData.key}}"  ng-repeat="customerListData in applyView">{{customerListData.value}}</option>

                </select>

            </div>
            <div class="form-group col-xs-12">
                <label class="weight-400 size-14" for="email">Groups</label>
                <div ng-dropdown-multiselect="" class="group-dropdown width-percent-100 text-left-imp" options="groupdataArry" selected-model="groupFileterIds" checkboxes="true" extra-settings="groupSettings" events="groupDropdownEvents"  disable-all="groupdis">
                </div>
            </div>
            <div class="form-group col-xs-12">
                <label class="weight-400 size-14" for="email">Sites</label>
                <div ng-dropdown-multiselect="" class="sits-dropdown" options="sitedataArry" selected-model="siteFileterIds" checkboxes="true" extra-settings="groupSettings" events="siteDropdownEvents" disable-all="sitedis">
                </div>



            </div>
            <div class="form-group col-xs-12">
                <label class="weight-400 size-14" for="email">Devices</label>
                <div ng-dropdown-multiselect="" class="device-dropdown" options="devicedataArry" selected-model="deviceFileterIds" checkboxes="true" extra-settings="groupSettings" events="deviceDropdownEvents">
                </div>
                <div class="error size15" ng-show="isErrorhide">This field is required</div>
                <br/>
                <div class="col-xs-12">         
                <button class="btn btn-default pull-right margin-left10" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary pull-right margin-left10" type="button" ng-click="applySchedule()">Apply</button>
                </div>
                <div class="clearfix"></div>
                <gap></gap>
            </div>
        </form>

    </div>
    <style>
        .modal-dialog {
            max-width: 400px;
            margin:10px auto !important;
        }
    </style>
</div>