<div class="border-bottom">
<div class="white-bg x-md-padding">

	<div class="pull-right">
		<div>
			<span class="line-height-45 size-14 weight-500">Filter By &nbsp;</span>
            <select class="border text-muted xs-padding" ng-model="activityObj.filterBy" ng-change="filterByChange()">
                <option value="">All</option>
                <option ng-if=" userDetails.rolePermissions.hasOwnProperty('Device Management')" value="Device">Device</option>
                <option value="Action">Action</option>
            </select>
	        <select ng-show="activityObj.filterBy=='Device'" class="border text-muted xs-padding" ng-model="activityObj.deviceId">
            	<option value="">--- Select Device ---</option>
	         	<option ng-repeat="option in devices" value="{{option.value}}">{{option.lable}}</option>
	        </select>
            <select ng-show="activityObj.filterBy=='Action'" class="border text-muted xs-padding" ng-model="activityObj.filterByAction">
                <option value="">All</option>
                <option value="Added">Added</option>
                <option value="Alerted">Alerted</option>
                <option value="Called">Called</option>
                <option value="Cleared">Cleared</option>
                <option value="Deleted">Deleted</option>
                <option value="Emailed">Emailed</option>
                <!-- <option value="Failed">Failure</option>
                <option value="Success">Success</option> -->
                <option value="Texted">Texted</option>
                <option value="Updated">Updated</option>
            </select>
			<input type="text" class="border xs-padding" ng-focus="showSearch"
				ng-show="showSearch" ng-model="filterActivity" />&nbsp; <i
				class="icon-search size-20 cursor show-search x-md-margin v-middle" aria-hidden="true"
				ng-click="showSearch = !showSearch"></i>
		</div>
	</div>
	
	<div class="clearfix"></div>


	<div class="pull-left">
		<div class="mob-blk-desk-inline"><span class="line-height-45 weight-500">{{filteredLogs.length}} / {{logs.length}} Logs &nbsp;&nbsp;&nbsp;&nbsp;</span><i class="icon-download size-30 v-middle text-dark" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;</div>
	    <div class="mob-blk-desk-inline">
		<form class="form-inline mob-blk-desk-inline mob-left">
		  <div class="form-group relative">
		    <label class="weight-400" for="sitesInputfrom">From</label>&nbsp;<span class="relative mob-blk-desk-inline"><input id="sitesInputfrom" type="text" style="width:110px" class="no-bg form-control height-30" readonly uib-datepicker-popup="MM/dd/yyyy" ng-model="startDate" is-open="popup1.opened" ng-required="true" close-text="Close" max-date="endDate" ng-click="open1()"/>
		    <label class="icon-calander size-20 select-date" for="sitesInputfrom"></label></span>
		  </div>&nbsp;&nbsp;
		  <div class="form-group relative">
		    <label class="weight-400" for="sitesInputto">To</label>&nbsp;<span class="relative mob-blk-desk-inline"><input id="sitesInputto" type="text" style="width:110px" class="no-bg form-control height-30" readonly uib-datepicker-popup="MM/dd/yyyy" ng-model="endDate" is-open="popup2.opened" ng-required="true" close-text="Close" min-date="startDate" ng-click="open2()"/>	
		    <label class="icon-calander size-20 select-date" for="sitesInputto"></label></span>
		  </div>
		  <button type="button" ng-click="dateFilterData()" class="btn btn-primary x-padding height-30">Submit</button>
		</form>
		</div>
	</div>

</div>
<div class="clear"></div>
</div>
<ul class="alternate-list-bg border-top">
       	<div ng-hide="filteredLogs.length" style="opacity:0" id="nodata">
           <br/><br/><div class="text-center error col-centered">No Data Found</div><br/>
        </div>
        <li class="border-bottom y-padding" ng-repeat="log in filteredLogs = (logs | orderBy: '-alNumber' | filter: logActivityFilter | filter: searchActivity)">
	        <div class="col-xs-12 col-sm-2 col-md-2 size-14">
                 {{log.alNumber}}.&nbsp;{{log.userName}}
            </div> 
            <div class="col-xs-12 col-sm-2 col-md-1 size-14 text-capitalize">
                 {{log.alAction}}
            </div>
            <div class="col-xs-12 col-sm-2 size-14 col-md-2">
                 {{log.alSpecificName}}
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 size-14">
                {{log.alWhere}}
            </div>
            <div class="col-xs-12 col-sm-2 col-md-3 no-padding size-14">
                 {{log.aldescription}}
            </div>
            <div class="col-xs-12 col-sm-2 size-14 col-md-2 text-right">
                 {{log.alCreatedOn}}
            </div>
            <div class="clear "></div>
        </li>
        <div class="clear "></div>
    </ul>
<div class="clear"></div>