<div class="row">
    <h1 class="no-margin padding text-center size-16 weight-700 text-center modal-title">Select States</h1>
</div>

<div class="row">
    <!-- ZipCode Search -->
    <div ng-repeat="val in statesAndCitiesArray">
    <div class="form-group required col-xs-12 col-sm-4">
    <label class="radio-inline" >
      <input type="radio" name="optradio" ng-model="radioValue" ng-value="val" ng-click="getSelectedObjFromEdit(val)">
</label>
        </div>
        
        <div class="form-group required col-xs-12 col-sm-4">
            <label for="email" class="weight-400 control-label size-14">State</label>
             <input type="text" class="form-control" ng-model="val.state_name" name="siteStateName"   readonly>
            <div class="error-container last-error-container" ng-show="createLocationForm.state.$error && createLocationForm.$submitted" ng-messages="createLocationForm.state.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <!-- <div ng-dropdown-multiselect="" options="siteStateOptions" selected-model="stateSelected" extra-settings="mainsettings" events="changeStateEvents" translation-texts="statecustomTexts"></div>
           	<div class="error" ng-show="errors.state">This field is required</div> -->
        </div>
        <div class="form-group required col-xs-12 col-sm-4">
            <label for="email" class="weight-400 control-label size-14">City</label>
            <input type="text"  class="form-control"  ng-model="val.city_name" name="siteCityName" readonly>
            <div class="error-container last-error-container" ng-show="createLocationForm.city.$error && createLocationForm.$submitted" ng-messages="createLocationForm.city.$error">
                <div ng-messages-include="error-list.html"></div>
            </div>
            <!-- <div ng-dropdown-multiselect="" options="siteCityOptions" selected-model="citySelected" extra-settings="mainsettings" events="changeCityEvents" translation-texts="citycustomTexts"></div>
            <div class="error" ng-show="errors.city">This field is required</div> -->
        </div> 
     
    </div>
      
        
    </div>
    
 
 