
<form role="form" class="row scroll scroll-120" name="uploadFormData1" novalidate="" ng-submit="uploadFormData(uploadFormData1)">
  <div class="form-group col-xs-12">
        <img class="thumb company-logo"/>
        <input type="file" name="file" class="" ng-model="uploadSubmitFormData.file" title="<i class='fa fa-camera' aria-hidden='true'></i>&nbsp; Add Company Logo" class="btn btn-default company-logo-file" onchange="angular.element(this).scope().imageUpload(event)" file="file" />
        <input type="submit" value="Upload">
    </div>
</form>
